#licong {
  width: 100px;
}

@media screen and (width <= 100px) {
  .test {
    height: 100px;
    width: 100px;
  }
}

a.foo {
  background: #000000;
  color: #000000;
  height: 50px;
  width: 100px;
}

.test {
  height: 100px;
  width: 100px;
}
